rabbitmq:
  connections:
    default:
      dsn: "amqp://${RABBITMQ_USER:=guest}:${RABBITMQ_PASSWORD:=guest}@${RABBITMQ_HOST:=rabbitmq}:${RABBITMQ_PORT:=5672}${RABBITMQ_VHOST:=/}"
      timeout: 1s
      sleep: 500ms
    another:
      # See https://www.rabbitmq.com/uri-spec.html on how to encode values.
      dsn: 'amqp://guest:password@localhost:5672/vhost?lazy=1&connection_timeout=6'
  exchanges:
    upload-picture:
      type: topic
      options:
        auto_delete: false
        durable: true
        internal: false
        no_wait: false
    logs:
      type: topic
      options:
        no_wait: false
    fallback:
      type: topic
      options:
        durable: true
  dead_letters:
    fallback:
      queue:
        name: fallback
        options:
          durable: false
          args:
            x-dead-letter-exchange: ""
            x-message-ttl: 300000
        bindings:
          -
            routing_keys: ["#"]
            exchange: fallback
  consumers:
    upload_picture:
      connection: default
      workers: 1                 # Number of concurrent messages processed. Defaults to 1.
      prefetch_count: 10         # Prefetch message count per worker.
      dead_letter: fallback
      queue:
        name: "upload-picture"
        options:
          auto_delete: false
          durable: false
          exclusive: false
          no_wait: false
          args:
            x-dead-letter-exchange: fallback
            x-dead-letter-routing-key: upload-picture
        bindings:
          -
            routing_keys:
              - 'android.#.upload'
              - 'iphone.upload'
            exchange: upload-picture
      # Consumer options available with default values:
      options:
        no_ack: false
        no_local: false
        no_wait: false
        exclusive: false
      runner:
        type: command

        options:
          path: "testdata/receive.php"