rabbitmq:
  connections:
    default:
      dsn: "amqp://login:password@host:port/virtual_host"
      reconnect_delay: 5s  # Interval between connection tries. Check https://golang.org/pkg/time/#ParseDuration for details.
    another:
      # See https://www.rabbitmq.com/uri-spec.html on how to encode values.
      dsn: 'amqp://guest:password@localhost:5672/vhost?lazy=1&connection_timeout=6'
  exchanges:
    upload-picture:
      type: topic
      options:
        auto_delete: false
        durable: true
        internal: false
        no_wait: false
    logs:
      type: topic
      options:
        no_wait: false
    other:
      type: direct
  consumers:
    upload_picture:
      connection: default
      workers: 1                           # Workers count. Defaults to 1.
      prefetch_count: 10                    # Prefetch message count per worker.
      queue:
        name: "upload-picture"
        options:
          auto_delete: false
          durable: false
          exclusive: false
          no_wait: false
        bindings:
          -
            routing_keys:
              - 'android.#.upload'
              - 'iphone.upload'
            exchange: upload-picture
      # Available options with default values:
      options:
        no_ack: false
        no_local: false
        no_wait: false
        exclusive: false
      runner:
        type: command
        options:
          path: "testdata/receive.php"